#sabisu-carrousel-container {
	width: 400px;
	height: 400px;
	margin: 20px auto;
	/* border: 1px solid #000; */
	position: relative;
	border-radius: 50%;
	animation: spin 20s linear infinite;
}

.sabisu-carrousel-margin {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* #container:hover {
	animation: spin 400s linear infinite;
} */
/* #container:hover .item {
	animation: spin 400s linear infinite reverse;
} */

.item {
	width: 100px;
	height: 140px;
	line-height: 30px;
	text-align: center;
	border-radius: 50%;
	position: absolute;
	/* background: #f00; */
	animation: spin 20s linear infinite reverse;
	transition: all 0.3s ease-in-out;
	z-index: 2;
}

.item:hover { 
	width: 130px;
	height: 170px;
}

.item.item-extra-width:hover { 
	width: 170px;
	height: 170px;
}

.item.item-extra-width {
    width: 140px;
}

.center,
#sabisu_reverse_icon {
	z-index: 1;
	/* width: 90px; */
	/* height: 90px; */
	position: relative;
    width: 100%;
    height: 100%;
}

.center a,
#sabisu_reverse_icon img {
	position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
}

/* #sabisu_reverse_icon {
	position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
} */

/* #sabisu_reverse_icon {
	animation: spin 20s linear infinite reverse;
	z-index: 1;
    width: 100%;
    height: 100%;
	position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
} */


.paused {
    -webkit-animation-play-state: paused !important;
    -moz-animation-play-state: paused !important;
    -o-animation-play-state: paused !important; 
    animation-play-state: paused !important;
}

.item img {
	width: 100%;
	height: 100%;
}
/* .center img {
	width: 150px;
	height: 150px;
} */
/* .center .img-back {
	width: 200px;
	height: 200px;
} */
.wrapper-img-container {
	animation: spin 20s linear infinite reverse;
	z-index: 10000;
}
.wrapper-img-container img {
	width: 150px;
	height: 150px;
}

.wrapper-img-container2 img {
	width: 200px;
	height: 200px;
}
.wrapper-img-container2 {
	animation: spin 10s linear infinite reverse;
	z-index: 100;
}

.wrapper {
    position: relative;
    /* width: 302px; */
    /* height: 202px; */
	width: 100%;
	height: 100%;
    /* border: 1px solid; */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wrapper img {
    position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
	/* animation: spin 20s linear infinite reverse; */
}

.wrapper-img-container,
.wrapper-img-container2 {
	/* animation: spin 10s linear infinite reverse; */
    position: absolute;
    /* z-index: 1000; */
    width: 100%;
    height: 100%;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

@media (max-width: 991.98px) {
	#sabisu-carrousel-container {
		width: 300px;
		height: 300px;
	}
	.center img {
		width: 100px;
		height: 100px;
	}
	.item {
		width: 80px;
		height: 112px;
	}
	
	.item.item-extra-width {
		width: 110px;
	}

	.item:hover { 
		width: 120px;
		height: 150px;
	}

	.item.item-extra-width:hover { 
		width: 130px;
		height: 130px;
	}
}

@media (max-width: 767.98px) {
	#sabisu-carrousel-container {
		width: 250px;
		height: 250px;
	}
}