/*
Theme Name:   Colibrí (SABISU)
Theme URI:
Author:       Abelardo Ramírez Fuente
Author URI:   
Description:  Tema alternativo a Colibrí con nuevos componentes.
Version:      1.0
License:      GNU General Public License v2 or later
License URI:  https://www.gnu.org/licenses/gpl-2.0.html
Text Domain:  colibri-wp
Tags:         colibri
Template:     colibri-wp
*/

#sabisu-carrousel-container {
	width: 400px;
	height: 400px;
	margin: 10px auto;
	border: 1px solid #000;
	position: relative;
	border-radius: 50%;
	animation: spin 20s linear infinite;
}

/* #container:hover {
	animation: spin 400s linear infinite;
} */
/* #container:hover .item {
	animation: spin 400s linear infinite reverse;
} */

#sabisu-carrousel-container .item {
	width: 90px;
	height: 90px;
	line-height: 30px;
	text-align: center;
	border-radius: 50%;
	position: absolute;
	/* background: #f00; */
	animation: spin 20s linear infinite reverse;
	z-index: 2;
}

#sabisu-carrousel-container .center {
	animation: spin 20s linear infinite reverse;
	z-index: 1;
	/* width: 90px; */
	/* height: 90px; */
	position: relative;
    width: 100%;
    height: 100%;
}

#sabisu-carrousel-container .center a {
	position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
}


#sabisu-carrousel-container .paused {
    -webkit-animation-play-state: paused !important;
    -moz-animation-play-state: paused !important;
    -o-animation-play-state: paused !important; 
    animation-play-state: paused !important;
}

#sabisu-carrousel-container .item img {
	width: 100%;
	height: 100%;
}
#sabisu-carrousel-container .center img {
	width: 100px;
	height: 100px;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}